*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
    /* margin-top:auto; */
    /* padding-top: 2vh; */
    background-image: url('clear4.jpg');
    height:200vh;
    overflow:hidden;
    background-repeat:no-repeat;
    font-family:Arial, Helvetica, sans-serif
    background-image:cover;
    /* text-align:center;     */
}

.main{
width: 50vh;
margin:100px auto;
/* margin-top: 200vh; */
background-color:rgba(193, 198, 199, 0.4) ;
padding:40px;
text-align:center;
}

.main > *{
    margin-bottom: 20px;
}

.inputbox{
    width:100%;
    background-color: rgba(235, 229, 222, 0.6);
    border:none;
    outline:none;
    color:#582233;
    font-size:large;
    height:50px;
    border-radius: 5px;
    padding:0 10px;
    text-align:center;

}

.inpbox:focus{
    background-color: rgba(255, 225, 225);
}

.body2{
    color:#582233;
    padding:20px;
    line-height:2rem;
    border-radius:10px;
    background-color:  rgba(235, 229, 222, 0.6);
    height:50vh;
    font-size: large;
}

.location{
    font-weight:bold;
}

.weather-status{
    padding:20px;
}
.tmp{
    font-size:50pt;
    font-weight:700;
    margin:20px 0;
    text-shadow:2px 4px rgba(0,0,0,0.2);
}